<?xml version="1.0"?>
<model>
  <name>Static Obstacle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Robofest Sim Team</name>
    <email>ubuntu@todo.todo</email>
  </author>
  <description>
    Static physical obstacle barrier for Robofest Stage 1 competition simulation.
  </description>
</model>
