<?xml version="1.0"?>
<model>
  <name>x500 Sensor Equipped Quadrotor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Robofest Autonomy Team</name>
    <email>ubuntu@todo.todo</email>
  </author>
  <description>
    PX4 x500 Quadrotor model equipped with 2D 360 LiDAR, RealSense D435i depth camera, PMW3901 optical flow, and downward rangefinder plugins.
  </description>
</model>
