<?xml version="1.0"?>
<model>
  <name>Traffic Cone (Simulated Mine)</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Robofest Sim Team</name>
    <email>ubuntu@todo.todo</email>
  </author>
  <description>
    Traffic cone used as a simulated mine visual target for Robofest Phase 2.1 simulation testing.
  </description>
</model>
